/homework/pytest_and_allure/计数器实战L1/testresult/
/练习和考试题/自动化测试相关/pytest/result/
/练习和考试题/自动化测试相关/allure/result/
/homework/pytest_and_allure/计数器实战L2/report/result_data/
/练习和考试题/自动化测试相关/allure/report/
/homework/pytest_and_allure/计数器实战L2/testresult/
/homework/pytest_and_allure/计数器实战L3/report/result_data/
/练习和考试题/自动化测试相关/allure/test_log/report/result_data/
/练习和考试题/自动化测试相关/allure/test_log/logs/
/练习和考试题/自动化测试相关/pytest/report/result_data/
/练习和考试题/自动化测试相关/pytest/log/
/homework/pytest_and_allure/计数器实战L4/log/
/homework/pytest_and_allure/计数器实战L4/report/result_data/
/homework/pytest_and_allure/计数器实战L4/logs/
/homework/pytest_and_allure/大作业/report/result_data/
/练习和考试题/接口自动化/宠物商店接口自动化实战L1/report/result_data/
/homework/接口自动化/L1/log/
/homework/接口自动化/L1/report/result_data/
/homework/接口自动化/L2/log/
/homework/接口自动化/L2/report/
/homework/接口自动化/live/frame/testcase/report/
/homework/接口自动化/L4/frame/testcase/report/
/homework/接口自动化/live/frame/testcase/report/
/homework/接口自动化/L4/frame/testcase/report/
/homework/web自动化/L2/testcase/report/
/练习和考试题/web自动化/实战L3第三步其他模块的引入/testcase/report/
/练习和考试题/web自动化/report/
/homework/web自动化/L1/report/
/homework/web自动化/L2/datas/images/
/练习和考试题/web自动化/POM/report/
/练习和考试题/web自动化/实战L3第三步其他模块的引入/datas/images/
/练习和考试题/web自动化/实战L3第三步其他模块的引入/datas/pagesouces/
/练习和考试题/web自动化/实战L3第三步其他模块的引入/testcase/log/
