<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
</head>
<body>
<!-- <span>A</span>
<hr>
<span>B</span> -->
<!-- 
    <img src="./static/fj2.jpeg" alt="">
    <img src="static/jy.jpg" alt=""> -->

<!-- <a href="https://www.baidu.com">百度</a>
<a href="https://pic.baidu.com">
    <img src="static/jy.jpg" alt="">
</a> -->


<!-- <h1>一级标题</h1>
<h2>2级标题</h2>
<h3>3级标题</h3>
<h4>4级标题</h4>
<h5>5级标题</h5>
<h6>6级标题</h6>
普通文本 -->

<!-- <p id="p1">前端开发的目标是创建一个直观、吸引人且易于使用的用户界面。开发人员需要考虑到用户体验、界面设计、页面加载速度和跨浏览器的兼容性等方面的因素。
    同时，前端开发也与后端开发密切相关，前端和后端之间需要进行数据交互和通信。因此，前端开发人员通常需要与后端开发人员进行协作，以确保前后端的一致性和顺畅的用户体验。</p> -->

<!-- <ul>
    <li>无序列表项1</li>
    <li>无序列表项2</li>
    <li>无序列表项3</li>
    <ul>
        <li>A1</li>
        <li>A2</li>
        <li>A3</li>
    </ul>
    <li>无序列表项4</li>
    <li>无序列表项5</li>
</ul>

<ol>
    <li>有序列表项1</li>
    <li>有序列表项2</li>
    <li>有序列表项3</li>
    <li>有序列表项4</li>
    <li>有序列表项5</li>
</ol> -->

<!-- <table>
    <tr>
        <th>编号</th>
        <th>姓名</th>
        <th>年龄</th>
    </tr>
    <tr>
        <td>1</td>
        <td>TOM</td>
        <td>22</td>
    </tr>
    <tr>
        <td>1</td>
        <td>TOM</td>
        <td>22</td>
    </tr>
    <tr>
        <td>1</td>
        <td>TOM</td>
        <td>22</td>
    </tr>
    <tr>
        <td>1</td>
        <td>TOM</td>
        <td>22</td>
    </tr>
</table> -->

<form action="https://www.baidu.com" method="post">
    <input id="" name="username" placeholder="请输入内容" type="text">
    <br>
    <input id="" name="name" type="text" value="请输入内容">
    <br>
    <input id="" name="passwd" placeholder="请输入密码" type="password">
    <br>
    <input id="" name="gender" type="radio">男
    <input name="gender" type="radio">女
    <input name="gender" type="radio">保密
    <br>
    <input id="" name="a" type="checkbox">A
    <input id="" name="a" type="checkbox">B
    <input id="" name="a" type="checkbox">C
    <input id="" name="a" type="checkbox">D
    <br>

    <textarea cols="30" id="" name="address" rows="10"></textarea>

    <select id="" name="add">
        <option value="1">北京</option>
        <option value="2">上海</option>
        <option value="3">广州</option>
        <option value="4">深圳</option>
    </select>

    <input type="submit" value="提交">
    <br>
    <input type="reset" value="重置">
    <br>
    <input type="button" value="OK">

</form>

</body>
</html>