<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
    <style>
        p{
            height: 50px;
            border: 1px solid #000;
            margin-top: 100px;
            text-align: center;
            line-height: 50px;
            text-decoration: line-through;
        }
        div{
            font-size: 50px;
        }
        .dd{
            text-indent:100px ;
        }
    </style>
</head>
<body>
<p>设置元素背景色和背景图片，设置背景图片需要使用 url() 函数</p>
<p>设置元素背景色和背景图片，设置背景图片需要使用 url() 函数</p>
<p>设置元素背景色和背景图片，设置背景图片需要使用 url() 函数</p>
<div class="dd">设置元素背景色和背景图片，设置背景图片需要使用</div>
<div>设置元素背景色和背景图片，设置背景图片需要使用</div>
</body>
</html>