<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>静态文件</title>
    <link href="{{ url_for('static', filename='logo.jpg') }}" rel="icon"/>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
</head>
<body>
<h1>
    <img
            alt="branch"
            class="hogwarts"
            src="{{ url_for('static', filename='images/branch.jpg') }}"
    />
    霍格沃兹
</h1>
<div>
    <img
            alt="Gryffindor"
            class="pic"
            src="{{ url_for('static', filename='images/Gryffindor.jpg') }}"
    />
    <img
            alt="hogwarts"
            class="pic"
            src="{{ url_for('static', filename='images/hogwarts.png') }}"
    />
</div>
</body>
</html>
<script type="text/javascript"></script>
